.btnIcon {
    position: relative;
    font-size: 27px;
    padding: 0 10px;
    color: #1a1a1a;
    margin-bottom: 10px;
  }
  .btnIcon:hover .navdropdown {
    display: block;
  }
  .btnIcon,
  .btnMenu {
    margin-top: 8px;
    -webkit-tap-highlight-color: transparent;
  }
  .navAmount {
    position: absolute;
    top: 1px;
    right: 5px;
    font-size: 12px;
    background-color: #1a1a1a;
    color: white;
    border-radius: 50%;
    margin: 0;
    height: 17px;
    text-align: center;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btnIcon:hover .navdropdown {
    display: block;
  }
  .navdropdown {
    list-style: none;
    width: fit-content;
    background-color: #fff;
    position: absolute;
    z-index: 99;
    right: 10px;
    overflow: hidden;
    display: none;
    border: 1px solid #cce7d0;
    border-radius: 0.5rem;
  }
  .navdropdown li {
    /* display: inline-block; */
    position: relative;
    width: 100%;
    display: block;
  }
  .navdropdown li:last-child {
    border-bottom: none;
  }
  .navdropdown li:hover {
    background-color: #f7f6f6;
    .a {
      color: #54bab9;
    }
  }
  .navdropdown li a,
  .navdropdown li button {
    display: block;
    width: max-content;
    padding: 0.5rem 1rem;
    color: #1a1a1a;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    background-color: #fff;
    border: none;
    font-weight: 500;
    cursor: pointer;
  }